nav {
    width: 100%;
    display: flex;
    font-family: 'Inter', sans-serif;
    /* i love 100% sizing */
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    background-color: #002856;
    padding: 10px;
    overflow: hidden;

    vertical-align: center;
}

nav > * {
    margin: 0 10px;
}

nav button {
    background: none!important;
    border: none;
    padding: 0!important;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 18pt;
    font-family: inherit;

    cursor: pointer;
}

nav button:hover {
    color: white;
}

.nav-link.nav-selected {
    color: white;
}

nav img {
    height: 30px;
    margin-right: 5px;
}

.nav-title {
    color: #daa900;
}

.nav-link {
    color: #979797;
}

.nav-search {
    border: none;
    border-radius: 10px;
    height: 18pt;
    padding: 2pt 5pt;
    margin-top: 2pt; /* feels off? */

    flex-grow: 1;
}

.nav-icon {

}